:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* for container */
.container {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  width: 100%;
  max-width: 540px;
  margin-right: auto;
  margin-left: auto;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* handle style for different width */
/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    width: 100%;
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    width: 100%;
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    width: 100%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .container {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    width: 100%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 100%;
    max-width: 1550px;
    margin-right: auto;
    margin-left: auto;
  }
}
